@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,700&display=swap');

.container3 {
	background-image: url('../Images/close_hands.jpg');
	background-color:rgba(0, 0, 0, 0.8);
	background-size: cover;
	background-repeat: no-repeat;
  background-position: bottom;
  height: 60vh;
	
}

.subHeading {
	font-weight: 700;
}

.box-border {
	width: 300px;
}

.para {
	width: 80%;
	max-width: 1440px;
	margin: 0 auto;
}

/* .grid{
  max-width: 80%;
  margin: auto auto;
} */

.lPHeading {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 54px;

	color: rgb(255, 255, 255);
}
.lPText {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;

	color: rgb(255, 255, 255);
}
.placeHolder2 {
	width: 396px;
	height: 71px;

	background: #ffffff;
	border-radius: 10px;
}
.mobileBtn3 {
	width: 221px;
	height: 69px;

	background: #488bff;
	border-radius: 10px;
}
.mobileBtnFont3 {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-size: 22px;
	line-height: 26px;

	color: #ffffff;
}
.banner1 {
	width: 319px;
	height: 70px;

	background: #488bff;
	border-radius: 15px;
}
.abc::placeholder {
	font-family: 'Open Sans', sans-serif;
		font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;

	color: #e5e5e5 !important;
}
/* @media (min-width: 1441px) { 
    .landingBackImage{
        height: 900px;
    }
    
} */
@media (max-width: 768px) {
	.lPHeading {
		font-size: 30px;
		line-height: 40px;
	}
	.lPText {
		font-size: 20px;
		line-height: 26px;
	}
}
